name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build
        shell: pwsh
        run: |
          go env
          go build -trimpath -ldflags "-s -w" -o bridge.exe .

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: bridge.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
